/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: 100vh;
}
/* Custom CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  --primary: rgb(175, 5, 5);
  --primary-contrast: white;
  --secondary: #777;
  --font: "Poppins", sans-serif;
  --text-color: #222;
  --card-bg: #fff;
  --tech-bg: #ffdddd;
  --page-bg: linear-gradient(#454, #222);
  --imgSize: 120px;
  /* background: var(--page-bg); */
  font-family: var(--font);
  color: var(--text-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: var(--card-bg);
  background-image: radial-gradient(
    circle at top,
    var(--primary) 50%,
    transparent 50%,
    transparent
  );
  background-size: 1500px 500px;
  background-position: center -300px;
  background-repeat: no-repeat;
  box-shadow: 0 0 55px rgba(38, 40, 45, 0.75);
  width: 75vw;
  max-width: 500px;
  border-radius: 4px;
  padding: 0 24px 24px;
  text-align: center;
}
img.portrait {
  width: var(--imgSize);
  height: var(--imgSize);
  object-fit: cover;
  border-radius: 50%;
  margin-top: calc(var(--imgSize) / 8);
}
h1 {
  font-size: 2rem;
  margin: 30px 0;
  color: var(--primary);
}
.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--secondary);
}
dl {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  padding: 20px 0;
}
dd {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary);
}
dl > div {
  display: flex;
  flex-basis: 33%;
  flex-shrink: 1;
  flex-direction: column-reverse;
}
dt {
  font-size: 0.75rem;
}
p.summary {
  margin: 254px 0;
  line-height: 1.5;
}
ul.technologies {
  list-style: none;
  padding: 0;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}
ul.technologies li {
  padding: 12px 24px;
  border-radius: 24px;
  background: var(--tech-bg);
}

.actions a,
.actions button {
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  border: solid 1px var(--primary);
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-color);
}
.actions a:hover,
.actions button:hover {
  background-color: var(--primary);
  color: var(--tech-bg);
}
.follow {
  background: var(--primary);
  color: var(--primary-contrast);
}
.message {
  background: var(--primary-contrast);
  color: var(--primary);
}
*:focus-visible {
  outline: dotted 1px var(--primary);
  outline-offset: 3px;
}
.actions {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 36px;
}
